@model IEnumerable<Project.Models.Bill>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Scripts/images/logo.png" rel="icon" />
    <title>Online Hospital Management System</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="~/Scripts/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Scripts/css/style.css" rel="stylesheet">
    <script src="~/Scripts/js/jquery.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('#doctorlist').show();
            $('.doctor li:first-child a').addClass('active');
            $('.doctor li a').click(function (e) {

                var tabDiv = this.hash;
                $('.doctor li a').removeClass('active');
                $(this).addClass('.active');
                $('.switchgroup').hide();
                $(tabDiv).fadeIn();
                e.preventDefault();

            });


        });
        function changeText() {
            if (document.getElementById("tog").innerHTML === "Customer &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+") {
                document.getElementById("tog").innerHTML = "Customer &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-"
            }
            else {
                document.getElementById("tog").innerHTML = "Customer &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+"
            }
        }

        function changeTextRider() {
            if (document.getElementById("tog1").innerHTML === "Rider &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+") {
                document.getElementById("tog1").innerHTML = "Rider &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-"
            }
            else {
                document.getElementById("tog1").innerHTML = "Rider &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+"
            }
        }

        function changeTextRetailer() {
            if (document.getElementById("tog2").innerHTML === "Retailer &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+") {
                document.getElementById("tog2").innerHTML = "Retailer &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-"
            }
            else {
                document.getElementById("tog2").innerHTML = "Retailer &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+"
            }
        }

        function changa() {
            document.getElementById("did").value = arguments[0];
            document.getElementById("cid").value = arguments[1];
            document.getElementById("rid").value = arguments[2];
            document.getElementById("quantity").value = arguments[3];


        }

    </script>

    <style>
        .alert {
            padding: 20px;
            background-color: #f44336;
            color: white;
        }

        .closebtn {
            margin-left: 15px;
            color: white;
            font-weight: bold;
            float: right;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
        }

            .closebtn:hover {
                color: black;
            }
    </style>

</head>
<body>
    <div class="container-fluid">

        <!--- Header Start -------->
        <div class="row header">

            <div class="col-md-10">
                <h2>Hospital Mangement System</h3>
            </div>

            <div class="col-md-2 ">
                <ul class="nav nav-pills ">
                    <li class="dropdown dmenu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
                        <ul class="dropdown-menu ">
                            <li><a href="profile.html">Change Profile</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="index.html">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!--- Header Ends --------->

        <div class="row">

            <!----- Menu Area Start ------>
            <div class="col-md-2 menucontent">

                <a href="#"><h1>Dashboard</h1></a>

                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation"><a href="/Supply/Index">Supply Record</a></li>
                    <li role="presentation"><a href="/Delivery/Index">Delivery</a></li>
                    <li role="presentation"><a href="/RegularSale/RegularSaleList">Regular Sale</a></li>




                    <li role="presentation">
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample1" aria-expanded="false" aria-controls="multiCollapseExample1" id="tog" onclick="changeText()">Customer &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+</button>

                        <div class="collapse multi-collapse" id="multiCollapseExample1">

                            <div class="card card-body" style=" margin-left: 5%; ">
                                <ul class="nav nav-pills nav-stacked">


                                    <li role="presentation">
                                        <a href="/Customer/listCustomer">List & Registration </a>
                                    </li>

                                    <li role="presentation">
                                        <a href="/CustomerPayments/Index">Payments</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </li>


                    <li role="presentation">
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2" id="tog1" onclick="changeTextRider()">Rider &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+</button>

                        <div class="collapse multi-collapse" id="multiCollapseExample2">

                            <div class="card card-body" style=" margin-left: 5%; ">
                                <ul class="nav nav-pills nav-stacked">


                                    <li role="presentation">
                                        <a href="/Rider/listRider">List & Registration </a>
                                    </li>

                                    <li role="presentation">
                                        <a href="/RiderExpenditures/Index">Expenditures</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </li>


                    <li role="presentation">
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample3" id="tog2" onclick="changeTextRetailer()">Retailer &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+</button>

                        <div class="collapse multi-collapse" id="multiCollapseExample3">

                            <div class="card card-body" style=" margin-left: 5%; ">
                                <ul class="nav nav-pills nav-stacked">


                                    <li role="presentation">
                                        <a href="/Retailer/listRetailer">List & Registration </a>
                                    </li>

                                    <li role="presentation">
                                        <a href="/RetailerPayment/Index">Payments</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </li>


                </ul>
            </div>
            <!---- Menu Ares Ends  -------->
            <!---- Content Ares Start  -------->
            <div class="col-md-10 maincontent">
                <!----------------   Menu Tab   --------------->
                <div class="panel panel-default contentinside">
                    <div class="panel-heading">Manage Deliveries</div>

                    @if (Session["DeliveryError"] != null)
                    {

                        <div class="alert">
                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                            <strong>
                                @Session["DeliveryErrorMessage0"].ToString()
                                <br />
                                @Session["DeliveryErrorMessage1"].ToString()
                            </strong>
                        </div>

                    }

                    <!----------------   Panel body Start   --------------->
                    <div class="panel-body">
                        <ul class="nav nav-tabs doctor">
                            <li role="presentation"><a href="#doctorlist">Delivery List</a></li>
                            <li role="presentation"><a href="#addme">Filter Delivery List</a></li>
                            <li role="presentation"><a href="#adddoctor">Add New Delivery</a></li>


                        </ul>

                        <!----------------   Display Doctor Data List Start  --------------->

                        <div id="doctorlist" class="switchgroup">

                            <table class="table table-bordered table-hover">

                                <tr class="active">
                                    <td>Customer Id</td>
                                    <td>Name</td>
                                    <td>Address</td>
                                    <td>Rider Id</td>
                                    <td>Rider Name</td>
                                    <td>Date</td>
                                    <td>Quantity</td>
                                    <td>Rate</td>
                                    <td>Bill</td>
                                    <td>Options</td>
                                </tr>

                                @foreach (var s in Model)
                                {

                                    <tr>
                                        <td>@s.customerId</td>
                                        <td>@s.customerName</td>
                                        <td>@s.address</td>
                                        <td>@s.riderId</td>
                                        <td>@s.riderName</td>
                                        <td>@s.date.Day/@s.date.Month/@s.date.Year</td>
                                        <td>@s.quantity</td>
                                        <td>@s.rate</td>
                                        <td>@s.bill</td>
                                        <td>
                                            <a href="#"><button type="button" id="@s.id" value="@s.id" onClick="changa(this.value, @s.customerId, @s.riderId, @s.quantity)" class="btn btn-primary" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span></button></a>
                                            <a href="/Delivery/RemoveDelivery/@s.id" class="btn btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                                        </td>
                                    </tr>

                                }
                            </table>
                            <a href="/Delivery/showAllDeliveries" style="float: right;"><input type="button" class="btn btn-primary" value="Show all Data"></button></a>

                        </div>
                        <!----------------   Display Doctor Data List Ends  --------------->
                        <!------ Doctor Edit Info Modal Start Here ---------->


                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">


                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Edit Rider Information</h4>
                                    </div>

                                    <div class="modal-body">
                                        <div class="panel panel-default">
                                            <div class="panel-body">

                                                <form class="form-horizontal" action="/Delivery/modifyDelivery" method="post">
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">Delivery Id</label>
                                                        <div class="col-sm-10">
                                                            <input type="number" class="form-control" name="did" id="did" placeholder="Id" readonly="readonly">
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">Customer Id</label>
                                                        <div class="col-sm-10">
                                                            <input type="number" class="form-control" name="cid" id="cid" placeholder="Customer Id" required="required">
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">Rider Id</label>
                                                        <div class="col-sm-10">
                                                            <input type="text" class="form-control" name="rid" id="rid" placeholder="Rider Id" required="required">
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">Quantity</label>
                                                        <div class="col-sm-10">
                                                            <input type="number" class="form-control" name="quantity" id="quantity" placeholder="Quantity" required="required">
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">Date</label>
                                                        <div class="col-sm-10">
                                                            <input type="date" class="form-control" name="date" placeholder="Date" required="required">
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="col-sm-offset-2 col-sm-10">
                                                            <button type="submit" class="btn btn-primary">Update Delivery</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!----------------   Modal ends here  --------------->
                        <!----------------   Add Doctor Start   --------------->
                        <div id="adddoctor" class="switchgroup">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <form class="form-horizontal" action="/Delivery/addDelivery" method="post">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Customer Id</label>
                                            <div class="col-sm-10">
                                                <input type="number" class="form-control" name="cid" placeholder="Customer Id" required="required">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Rider Id</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="rid" placeholder="Rider Id" required="required">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Quantity</label>
                                            <div class="col-sm-10">
                                                <input type="number" class="form-control" name="quantity" placeholder="Quantity" required="required">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Date</label>
                                            <div class="col-sm-10">
                                                <input type="date" class="form-control" name="date" placeholder="Date" required="required">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10">
                                                <button type="submit" class="btn btn-primary">Add Delivery</button>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>


                        <div id="addme" class="switchgroup" style="display:none">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <form class="form-horizontal" action="/Delivery/filterSearch" method="post">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Customer Id</label>
                                            <div class="col-sm-10">
                                                <input type="number" class="form-control" name="cid" placeholder="Customer Id">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Rider Id</label>
                                            <div class="col-sm-10">
                                                <input type="number" class="form-control" name="rid" placeholder="Rider Id">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">From</label>
                                            <div class="col-sm-10">
                                                <input type="date" class="form-control" name="fdate" placeholder="From">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">To</label>
                                            <div class="col-sm-10">
                                                <input type="date" class="form-control" name="tdate" placeholder="Date">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10">
                                                <button type="submit" class="btn btn-primary">Filter</button>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>


                        <!----------------   Panel body Ends   --------------->
                    </div>
                </div>
        </div>
    </div>
    <script src="~/Scripts/js/bootstrap.min.js"></script>
</body>
</html>